.task-list-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.task-list-header .logo {
  font-family: Georgia, serif;
  font-size: 2.5rem;
}

.task-list-header .btn {
  margin-left: 10px
}
